<!DOCTYPE html>
<html>
    <head>
      {% include _head.html %}
    </head>
    <body>

    {% include _header.html %}
    
    {{ content }}

    <footer id="footer">
      <p class="copyright">Created with <i class="fa fa-volume-up"></i> by <a href="http://www.dangercove.com" target="_blank">Danger Cove</a>.</p>
      <p class="disclaimer"><small>Read the <a href="http://www.dangercove.com/terms" target="_blank">Terms &amp; Conditions</a> and <a href="http://www.dangercove.com/privacy">Privacy Policy</a>. Denied is not associated with Spotify or Nickelback. All brands are copyrighted by their respective owners.</small></p>
      <p class="disclaimer"><small>I do sometimes enjoy listening to Nickelback.</small></p>
    </footer>

    {% include _scripts.html %}

    </body>
</html>