<!DOCTYPE html>
<html>
    <head>
      {% include _head.html %}
    </head>
    <body>

    <div class="container">
      <header id="header">
        <h1 class="title"><img class="icon" src="img/icon_128x128@2x.png" alt="Denied App Icon"><a href="/">{{ site.name }} <span>for Mac</span></a></h1>
        <h2>Saves your ears from <span class="replace-artist">Nickelback</span>.</h2>
        <nav>
          <ul class="inline-list">
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Notify</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <!--
    <div class="container">
      {{ content }}
    </div>
    -->

    <footer id="footer">
    </footer>

    {% include _scripts.html %}

    </body>
</html>