---
layout: default
---

{% include _header.html %}

<article class="post container">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  <footer>
    <p><small>Like what you're reading, want to give feedback or share your views? Reply to <a href="https://www.twitter.com/{{ site.contact.twitter }}" target="_blank">{{ site.contact.twitter }}</a> on Twitter.</small></p>
    <div class="share">
      <div class="fb-like" data-href="{{ site.url }}{{ page.url | remove:'index.html' }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url | remove:'index.html' }}" data-related="deniedapp" data-hashtags="getdenied">Tweet</a>
    </div>
  </footer>
</article>

<div class="pagination container show-for-medium-up">
  <div class="row">
    <div class="columns medium-5 text-left">
      {% if page.previous %}
        <a href="{{ page.previous.url }}" class="previous">&larr; {{ page.previous.title | truncatewords: 5 }}</a>
      {% else %}
        &nbsp;
      {% endif %}
    </div>
    <div class="columns medium-2 text-center">
      <a href="/blog"><i class="fa fa-home"></i></a>
    </div>
    <div class="columns medium-5 text-right">
      {% if page.next %}
        <a href="{{ page.next.url }}" class="next">{{ page.next.title | truncatewords: 5 }} &rarr;</a>
      {% else %}
        &nbsp;
      {% endif %}
    </div>
  </div>
</div>
<div class="container show-for-small-only text-center">
  <a href="/blog">Archive</a>
</div>

{% include _footer.html %}
