---
layout: default
---

{% include _header.html %}

<article class="post container">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="date">{{ page.date | date_to_long_string }}</p>
  </header>

  {{ content }}

  <footer>
    <p><small>Like what you're reading, want to give feedback or share your views? Reply to <a href="https://www.twitter.com/{{ site.author.twitter }}" target="_blank">{{ site.author.twitter }}</a> on Twitter.</small></p>
    <div class="share">
      <div class="fb-like" data-href="{{ site.url }}{{ page.url | remove:'index.html' }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url | remove:'index.html' }}" data-related="deniedapp" data-hashtags="getdenied">Tweet</a>
    </div>
  </footer>
</article>

{% include _footer.html %}