<footer id="footer" class="container">
  <p class="copyright">Created with <i class="fa fa-volume-up"></i> by <a href="https://www.dangercove.com" target="_blank">Danger Cove</a>.</p>
  <p class="disclaimer"><small>Read the <a href="https://www.dangercove.com/terms" target="_blank">Terms &amp; Conditions</a> and <a href="https://www.dangercove.com/privacy">Privacy Policy</a>. Feel free to <a href="mailto:{{ site.contact.email }}">contact</a> us.</small></p>
  <p class="disclaimer"><small>Denied is not associated with Spotify, Apple or Nickelback. All brands are copyrighted by their respective owners.</small></p>
  <p class="disclaimer"><small>I do sometimes <a href="http://www.last.fm/user/boyvanamstel/library/music/Nickelback?sortBy=plays&amp;sortOrder=desc" target="_blank">enjoy listening to Nickelback</a>. 'Rockstar' is just too much though..</small></p>
</footer>

<div id="download">
  <div class="header">
    <a href="#close" class="close"><i class="fa fa-times"></i></a>
  </div>
  <div class="wrapper">
    <h3>Thank you for trying Denied</h3>
    <p>Your download should start any second. <a href="{{ site.urls.download }}">Retry</a> if it doesn't.</p>
    <ul class="screenshots small-block-grid-3">
      <li>
        <img src="/img/download-download.jpg" alt="Download Denied">
        <small>Download</small>
      </li>
      <li>
        <img src="/img/download-install.jpg" alt="Install Denied">
        <small>Install</small>
      </li>
      <li>
        <img src="/img/download-run.jpg" alt="Run Denied">
        <small>Run</small>
      </li>
    </ul>
    <p><small>You can create up to three rules in the free trial version. <a href="{{ site.urls.buy }}" target="_blank">Unlock</a> to add more.</small></p>
    <a href="{{ site.urls.appstore }}" class="btn close" target="_blank">Done</a>
  </div>
</div>
