<footer id="footer" class="container">
  <p class="copyright">Created with <i class="fa fa-volume-up"></i> by <a href="http://www.dangercove.com" target="_blank">Danger Cove</a>.</p>
  <div class="share">
    <div class="fb-like" data-href="http://www.getdenied.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.getdenied.com" data-related="deniedapp" data-hashtags="getdenied">Tweet</a>
  </div>
  <p class="disclaimer"><small>Read the <a href="http://www.dangercove.com/terms" target="_blank">Terms &amp; Conditions</a> and <a href="http://www.dangercove.com/privacy">Privacy Policy</a>. Feel free to <a href="mailto:hello@getdenied.com">contact</a> us.<br>Denied is not associated with Spotify or Nickelback. All brands are copyrighted by their respective owners.</small></p>
  <p class="disclaimer"><small>I do sometimes <a href="http://www.last.fm/user/boyvanamstel/library/music/Nickelback?sortBy=plays&amp;sortOrder=desc" target="_blank">enjoy listening to Nickelback</a>. 'Rockstar' is just too much though..</small></p>
</footer>
