<!-- Begin MailChimp Signup Form -->

<form action="//getdenied.us7.list-manage.com/subscribe/post?u=40b2fe274e6d6a9d03dd7d5f1&amp;id=2cddfb3420" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse postfix-radius">
        <div class="small-8 columns">
          <input type="email" value="" name="EMAIL" class="email" placeholder="Your email address" required>
        </div>
        <div class="small-4 columns">
          <input type="submit" value="Notify me" name="subscribe" class="button postfix success">
        </div>
      </div>
    </div>
  </div>
  <small>Denied and Danger Cove related mail only. No Spam!</small>
</form>

<!--End mc_embed_signup-->