<!-- build:js({app,.tmp}) /js/scripts.js -->
<script src="/_bower_components/foundation/js/vendor/modernizr.js"></script>
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics.GA.trackingID }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- BEGIN GROOVE WIDGET CODE -->
<script id="grv-widget">
  /*<![CDATA[*/
  var _grvq = [];
  _grvq.push(['setWidgetId', '96087ebf-fc3c-5271-ed95-454ba3c5367b']);
  !function(t,e,o){var a,n,c=e.createElement("iframe");(c.frameElement||c).style.cssText="width: 0; height: 0; border: 0",c.title="",c.role="presentation",c.src="javascript:false",e.body.appendChild(c);try{a=c.contentWindow.document}catch(i){n=e.domain,c.src="javascript:document.write('<head><script>document.domain='" + n + "'</"+"script></head><body></body>')",a=c.contentWindow.document}var d="https:"==e.location.protocol?"https://":"http://",r="http://groove-widget-production.s3.amazonaws.com".replace("http://",d);c.className="grv-widget-tag",a.open()._l=function(){n&&(this.domain=n);var t=this.createElement("script");t.type="text/javascript",t.charset="utf-8",t.async=!0,t.src=r+"/loader.js",this.body.appendChild(t)},a.write('<body onload="document._l();">'),a.close()}(window,document);
      /*]]>*/
  </script>
  <!-- END GROOVE WIDGET CODE -->
