<!-- build:js({app,.tmp}) /js/scripts.js -->
<script src="/_bower_components/foundation/js/vendor/modernizr.js"></script>
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
<script src="/js/uservoice.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.analytics.GA.trackingID }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
