<section id="player">
  <div class="container">
    <h2><i class="fa fa-flask"></i> Skip simulation</h2>
    <p>This is a 'hyper realistic' demo of how track skipping works. Pay attention.</p>
  </div>
  <div class="player-container">
    <p class="caption">See what happens when you toggle skipping.</p>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Track</th>
        <th>Artist</th>
        <th class="text-right">Time</th>
        <th class="show-for-medium-up">Album</th>
      </tr>
      <tr class="song active">
        <td><i class="fa fa-play-circle-o"></i></td>
        <td>Further</td>
        <td>Trey Frey</td>
        <td class="text-right">4:36</td>
        <td class="show-for-medium-up">Refresh</td>
      </tr>
      <tr class="song">
        <td><i class="fa fa-play-circle-o"></i></td>
        <td>Get Hurt</td>
        <td>The Gaslight Athem</td>
        <td class="text-right">3:43</td>
        <td class="show-for-medium-up">Get Hurt</td>
      </tr>
      <tr class="song should-skip skip">
        <td><i class="fa fa-play-circle-o"></i></td>
        <td>Rockstar</td>
        <td>Nickelback <span><i class="fa fa-frown-o"></i></span></td>
        <td class="text-right">4:12</td>
        <td class="show-for-medium-up">All The Right Reasons</td>
      </tr>
      <tr class="song">
        <td><i class="fa fa-play-circle-o"></i></td>
        <td>Gun</td>
        <td>CHVRCHES</td>
        <td class="text-right">3:52</td>
        <td class="show-for-medium-up">Gun</td>
      </tr>
      <tr class="song should-skip skip">
        <td><i class="fa fa-play-circle-o"></i></td>
        <td>Friday</td>
        <td>Rebecca Black <span><i class="fa fa-frown-o"></i></span></td>
        <td class="text-right">3:30</td>
        <td class="show-for-medium-up">Friday</td>
      </tr>
    </table>
    <div class="toggler">
      <a href="#" class="toggle-denied"><i class="fa fa-toggle-on"></i> Skipping Enabled</a>
    </div>
    <!--
    <div class="controls">
      <a href="#" class="pause"><i class="fa fa-pause"></i></a>
    </div>
    -->
  </div>
</section>
