@import "foundation/components/global";
@import "fonts";
@import "_mixins";

$default-fontfamily: 'Lato', 'Helvetica Neue Light', 'Helvetica', 'Arial', 'Sans serif';
$app-fontfamily: 'Axis', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
$small-fontsize: .8rem;
$button-fontsize: 1.4rem;
$primary-color: #D94242;
$primary-color-hover: #BE1C1C;
$approve-color: #4BB000;
$subtitle-color: #bbb;

@import "_tools";
@import "_animations";
@import "_elements";
@import "_typography";
@import "_base";
@import "_custom";
