@import "foundation/components/global";
@import "fonts";

$default-fontfamily: 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans serif';
$header-fontfamily: 'Axis', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
$font-color: #333;
$primary-color: #D94242;
$approve-color: #4BB000;

body {
  font-style: $default-fontfamily;
  color: $font-color;
}
h1 {
  a {
    font-family: $header-fontfamily;
    color: white;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
a {
  color: $primary-color;
}

.centered {
  margin: 0 auto;
}

.container { 
  @include clearfix;
  @extend .centered;
  max-width: 960px; 
  margin: 0 auto; 
}

#header {
  text-align: center;
  h1 {
    font-weight: normal;
    color: white;
    background-color: $primary-color;
    font-size: 200%;
    line-height: 150%;
    padding: 32px 8px;
    margin: 0;
  }
  small {
    color: $primary-color;
  }
  .inline-list {
    display: inline-block;
  }
  nav {
    display: none;
  }
  .icon {
    @extend .centered;
    display: block;
    width: 256px;
    margin: 32px auto;
  }
}

#player {
  table {
    width: 100%;
    tr {
      border-bottom: $primary-color 1px solid;
      th {
        color: $primary-color;
        text-align: left;
        font-weight: normal;
      }
      &.active {
        background: $primary-color;
        color: white;
      }
      &.skip.active {
        text-decoration: line-through;
      }
      td {
        font-size: 0.8rem;
        i {
          padding: 0;
          vertical-align: text-bottom;
          &::before {
            margin: 0;
            position: relative;
            top: auto;
            left: auto;
            font-size: 0.8rem;
            color: white;
            display: inline;
          }
        }
      }
      th:first-child,td:first-child {
        width: 1rem;
        text-align: center;
      }
      th,td {
        padding: 0 8px;
      }
    }
  }
}