@import "foundation/components/global";
@import "fonts";

$default-fontfamily: 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans serif';
$header-fontfamily: 'Axis', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
$font-color: #333;
$primary-color: #D94242;

body {
  font-style: $default-fontfamily;
  color: $font-color;
}
h1 {
  a {
    font-family: $header-fontfamily;
    color: white;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
a {
  color: $primary-color;
}

.centered {
  margin: 0 auto;
}

.container { 
  @include clearfix;
  @extend .centered;
  max-width: 960px; 
  margin: 0 auto; 
}

#header {
  text-align: center;
  padding: 50px 0;
  h1 {
    font-weight: normal;
    color: white;
    background-color: $primary-color;
    font-size: 200%;
    line-height: 150%;
    padding: 32px 8px;
    margin: 32px 0 0;
  }
  small {
    color: $primary-color;
  }
  .inline-list {
    display: inline-block;
  }
  nav {
    display: none;
  }
}

.icon {
  @extend .centered;
  display: block;
  width: 128px;
  margin-bottom: 30px;
  background-color: white;
}

.menubar-container {
  .menubar {
    height: 32px;
    padding: 0 24px;
    background: white;
    box-shadow: 0 16px 16px rgba(0,0,0,.3);
    border-top: #cecece 1px solid;
    border-bottom: #7e7e7e 1px solid;
    img {
      margin: 0 1%;
      max-height: 100%;
    }
  }
}